
article {
  background-color: white;
  width: 100%;
  height: 85%;
}

#divoferta{
  margin-bottom: 3%;
  margin-top: 3%;
}

#pc{
  margin-top: 18%;
  margin-bottom: 3%;
}

#perifericos{
  margin-bottom: 3%;
  margin-top: 20%;
}
#producte1 {height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte1 img {
  height: 40%;
  width: 40%;}
#Preu\ teclat {color:red}



#producte2 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte2 img {
  height: 40%;
  width: 40%;}
#Preu\ ratoli {color: red}



#producte3 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte3 img {
  height: 40%;
  width: 40%;}
#Preu\ cascos {color: red}



#producte4 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte4 img {
  height: 40%;
  width: 40%;}
#Preu\ ram {color: red}



#producte5 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte5 img {
  height: 40%;
  width: 40%;}
#Preu\ placa {color: red}



#torre1 {height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#torre1 img {
  height: 40%;
  width: 40%;}
#Preu\ torre1 {color:red}



#torre2 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#torre2 img {
  height: 40%;
  width: 40%;}
#Preu\ torre2 {color: red}



#torre3 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#torre3 img {
  height: 40%;
  width: 40%;}
#Preu\ torre3 {color: red}



#torre4 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#torre4 img {
  height: 40%;
  width: 40%;}
#Preu\ torre4 {color: red}



#torre5 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#torre5 img {
  height: 40%;
  width: 40%;}
#Preu\ torre5 {color: red}




#periferico1 {height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#periferico1 img {
  height: 40%;
  width: 40%;}
#Preu\ periferic1 {color:red}



#periferico2 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#periferico2 img {
  height: 40%;
  width: 40%;}
#Preu\ periferic2 {color: red}



#periferico3 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#periferico3 img {
  height: 40%;
  width: 40%;}
#Preu\ periferic3 {color: red}



#periferico4 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#periferico4 img {
  height: 40%;
  width: 40%;}
#Preu\ periferic4 {color: red}



#periferico5 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#periferico5 img {
  height: 40%;
  width: 40%;}
#Preu\ periferic5 {color: red}
