<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<app-menu></app-menu>
<article>
<!--  <div id="menu">-->
<!--    <h1>Categories: </h1>-->
<!--    <ul>-->
<!--      <li class="navega"><a routerLink="/cataleg" routerLinkActive="active" >Totes</a></li>-->
<!--      <li class="navega" ><a class="lateral" routerLink="/ofertes" routerLinkActive="active" >Ofertes</a></li>-->
<!--      <li class="navega" ><a class="lateral" routerLink="/pc" routerLinkActive="active" >Pc Sobretaula</a></li>-->
<!--      <li class="navega" ><a class="lateral" routerLink="/periferics" routerLinkActive="active" >Periferics</a></li>-->
<!--    </ul></div>-->

<!--  <div id="divoferta">-->
<!--    <h1 id="oferta">En oferta</h1>-->

  <h1> Tenda </h1>

  <div *ngFor="let pr of productes" id="producte1">
    <div *ngIf="pr">
      <img src="{{pr.imatge}}">
      <p> {{pr.nom}}</p>
      <p> {{pr.preu}} €</p>

      <button id="" (click)="anadircarrito(pr)">Añadir al carrito</button><br>
      <ngb-rating [(rate)]="currentRate1"></ngb-rating>
    </div>
  </div>

</article>
<app-peu></app-peu>
