<app-menu></app-menu>
<article>
  <div id="divoferta">
    <h1 id="oferta">En oferta</h1>
    <div id="producte1">
      <img src="../../assets/fotos/teclat1.png">
      <p>Corsair K60 Pro</p>
      <p id="Preu teclat">49,99€</p>
      <button>Añadir al carrito</button>
    </div>
    <div id="producte2">
      <img src="../../assets/fotos/ratoli1.png">
      <p>Corsarir Harpoon RGB Pro</p>
      <p id="Preu ratoli">32,97€</p>
      <button>Añadir al carrito</button>
    </div>
    <div id="producte3">
      <img src="../../assets/fotos/cascos1.png">
      <p>Xaomi Redmi Buds 3</p>
      <p id="Preu cascos">21,99€</p>
      <button>Añadir al carrito</button>
    </div>
    <div id="producte4">
      <img src="../../assets/fotos/ram1.png">
      <p>Corsair Vengance LPX DDR4</p>
      <p id="Preu ram">61,99€</p>
      <button>Añadir al carrito</button>
    </div>
    <div id="producte5">
      <img src="../../assets/fotos/placabase1.png">
      <p>MSI PRO B660M-A DDR4</p>
      <p id="Preu placa">153,04€</p>
      <button>Añadir al carrito</button>
    </div>
  </div>
  <div id="divpc">
    <div id="divtorres">
      <h1 id="pc">Ordenadores de sobremesa</h1>
      <div id="torre1">
        <img src="../../assets/fotos/torre1.png">
        <p>Pc Racing AMD Ryzen 5</p>
        <p id="Preu torre1">593,95€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="torre2">
        <img src="../../assets/fotos/torre2.png">
        <p>PcVIP Devaron AMD Ryzen5</p>
        <p id="Preu torre2">1099,98€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="torre3">
        <img src="../../assets/fotos/torre3.png">
        <p>Nitroppc AMD Ryzen 3</p>
        <p id="Preu torre3">535,52€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="torre4">
        <img src="../../assets/fotos/torre4.png">
        <p>PcVIP Ithor Intel Core 5</p>
        <p id="Preu torre4">899,89€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="torre5">
        <img src="../../assets/fotos/torre5.png">
        <p>Eoical-Q Praetorian II EVO</p>
        <p id="Preu torre5">789,90€</p>
        <button>Añadir al carrito</button>
      </div>
    </div>

  </div>
  <div id="componentspc">
    <div id="divperifericos">
      <h1 id="perifericos">Perifericos</h1>
      <div id="periferico1">
        <img src="../../assets/fotos/periferic1.png">
        <p> Logitech Brio Webcam 4k UltraHD</p>
        <p id="Preu periferic1">155,99€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="periferico2">
        <img src="../../assets/fotos/periferic2.png">
        <p>Pack Razer</p>
        <p id="Preu periferic2">99,97€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="periferico3">
        <img src="../../assets/fotos/periferic3.png">
        <p>Razer Barracuda X Auriculares Gaming</p>
        <p id="Preu periferic3">69,99€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="periferico4">
        <img src="../../assets/fotos/periferic4.png">
        <p>Razer Huntsman Tournament Edition</p>
        <p id="Preu periferic4">198,99€</p>
        <button>Añadir al carrito</button>
      </div>
      <div id="periferico5">
        <img src="../../assets/fotos/periferic5.png">
        <p>Razer Seiren Mini</p>
        <p id="Preu periferic5">39,98€</p>
        <button>Añadir al carrito</button>
      </div>
    </div>

  </div>
</article>
<app-peu></app-peu>
