<app-menu></app-menu>
<article>
  <div id="contactar">
    <h1>Email</h1>
    <br>
    <p>componentselectrics@gmail.com</p>
    <br><br>
    <h1>Instagram</h1>
    <br>
    <p> ComponentsElectrics</p>
    <br><br>
    <h1>Tenda fisica</h1>
    <br>
    <p> C.Malaga nº10</p>
    <br><br>
    <h1>Telefón</h1>
    <br>
    <p> 684 47 53 94</p>
    <br><br>
    <h1>Fax</h1>
    <br>
    <p> 347603455</p>
    <br><br>

    <p>Equip: </p>
    <div>
      <img [src]="user?.picture?.large" alt="User photo" />
      <p>{{ user?.name?.title }} {{ user?.name?.first }} {{ user?.name?.last }}</p>
      <p>Age: {{ user?.dob?.age }}</p>
      <p>Email: {{ user?.email }}</p>
      <p>Nationality: {{ user?.nat }}</p>
    </div>


  </div>
    <div>
      <form (submit)="enviaFormulari()">
        <p>El teu nom??</p>
        <input type="text" [(ngModel)]="NomUser" [ngModelOptions]="{standalone: true}" placeholder="Nom d'usuari">
        <p>Tens alguna recomanacio per la pagina web??</p>
        <input type="text" [(ngModel)]="Recomanacio" [ngModelOptions]="{standalone: true}" placeholder="Afegeix una recomanacio">
        <button type="submit">Enviar</button>
      </form>
    </div>
</article>
<app-peu></app-peu>
