<header>

  <img id="logo" src="../../assets/fotos/ComponentsElectrics.png">

  <form class="form-inline">
    <input class="form-control-mr-sm-2" type="search" placeholder="Busca..." aria-label="Search">
    <button type="submit" class="btn btn-outline-dark">Buscar</button>
  </form>


  <ul id="logout">
    <li class="navega"><a href="" id="logout_borrar">Log Out</a></li>
  </ul>

  <ul id="register">
    <li class="navega"><a routerLink="/registre" routerLinkActive="active" href="Registre">Sign Up | Log In</a></li>
  </ul>

  <br>

  <p id="nom_usuario" >{{mostrar}}</p>
  <a routerLink="/administracio" routerLinkActive="active" href="administracio" class="admin">Administracio</a>

</header>

<nav>

  <div id="menu">
    <ul>
      <li class="navega"><a routerLink="/inici" routerLinkActive="active" >Inici</a></li>
      <li class="navega"><a routerLink="/cataleg" routerLinkActive="active" >Cataleg</a></li>
      <li class="navega"><a routerLink="/condicions" routerLinkActive="active" >Condicions</a></li>
      <li class="navega"><a routerLink="/contacte" routerLinkActive="active" >Contacte</a></li>
      <li class="navega"><a routerLink="/cistella" routerLinkActive="active" >Cistella</a></li>
    </ul></div>

</nav>
