<header>

  <img id="logo" src="../../assets/fotos/ComponentsElectrics.png">

  <div class="container">
    <div class="search-box">
      <input type="text" class="search-input" placeholder="Search..">

      <button class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <ul id="register">
    <li class="navega"><a href="Registre">Registre</a></li>
  </ul>

</header>

<nav>

  <div id="menu">
    <ul>
      <li class="navega"><a href="Inici">Inici</a></li>
      <li class="navega"><a routerLink="/cataleg" routerLinkActive="active" href="Cataleg">Cataleg</a></li>
      <li class="navega"><a href="Condicions">Condicions</a></li>
      <li class="navega"><a href="Contacte">Contacte</a></li>
      <li class="navega"><a href="Cistella">Cistella</a></li>
    </ul></div>

</nav>
