<app-menu></app-menu>
<article>
  <h1 id="titolcondi">Términos y Condiciones de uso de ComponentsElectrics</h1>
  <br>
  <p id="condiciones">
    Los presentes Términos y Condiciones de uso (en adelante, “Términos y Condiciones”) establecen las condiciones bajo las cuales se ofrece a los usuarios el acceso a los sitios web, servicios y aplicaciones ComponentsElectrics (en adelante, “el Servicio”) , que es una plataforma que permite a los usuarios publicar ofertas para la compra–venta de una amplia variedad de artículos de su propiedad, así como la comunicación entre los usuarios ofertantes y los usuarios interesados en adquirir los artículos ofrecidos y la localización geográfica de los mismos, para completar la transacción.

    <br><br><br>

    El uso del Servicio atribuye a quien lo realiza la condición de usuario del mismo (en adelante, “el Usuario”) e implica la aceptación íntegra de estos Términos y Condiciones. En caso de no estar de acuerdo con todo o parte de estos Términos y Condiciones, el Usuario debe abstenerse de instalar y utilizar el Servicio.

    <br><br><br>

    Por medio de la aceptación de los presentes Términos y Condiciones, el Usuario manifiesta:

    <br><br><br>

    Que ha leído, entiende y comprende lo aquí expuesto.

    <br><br><br>

    Que asume todas las obligaciones aquí dispuestas.

    <br><br><br>

    Que es mayor de edad y tiene la capacidad legal suficiente para utilizar el Servicio.

    <br><br><br>

    La aceptación de estos Términos y Condiciones por parte de los Usuarios es un paso previo e indispensable a la utilización del Servicio. ComponentsElectrics se reserva el derecho a actualizar y/o modificar los Términos y Condiciones en cualquier momento y por cualquier motivo a su exclusiva discreción. ComponentsElectrics notificará acerca de cualquier cambio material en los Términos y Condiciones o en cualquier Servicio u otra función de los Servicios. Al acceder o usar los Servicios después de que ComponentsElectrics haya notificado al Usuario sobre una modificación o actualización, el Usuario acepta quedar obligado por los Términos y Condiciones modificados. Si los Términos y Condiciones modificados no resultan aceptables al Usuario, su única opción es dejar de utilizar los Servicios.
  </p>
</article>
<app-peu></app-peu>
