<article>
  <h1 id="titol">La meva cistella</h1>
  <div id="divproducte1">
    <img id="fotocistella1" src="fotos%20cataleg/ram1.png">
    <p id="nomproducte">Corsair Vengance LPX DDR4</p>
    <input id="inputpro" type="number" name="quantitat" min="1" max="5">
    <p id="preuproducte">61,99€</p>
    <p id="chekbox"><input type="checkbox">Extensio de garantia per 25€</p>
  </div>
  <div id="resumen">
    <p id="resumen1">Resum</p>
    <p id="subtotal">Subtotal articles  61,99€</p>
    <p id="punts">-----------------------------------------</p>
    <p id="envio">Envio     5€</p>
    <p id="total">Total     66,99€</p>

  </div>
</article>
