#menu ul{
  width: 10%;
  list-style: none;
  justify-content: space-around;
  padding: 0px;
  background-color:white;
}

ul{background-color:black;}

a{display:block;
  text-decoration:none;
  color:black;}

li{
  flex-grow: 1;
}
.navega:hover  {
  text-decoration:none;
  background-color:red;
  text-color: white;
}

.lateral{
  margin-left: 10%;
}


#divoferta{
  margin-bottom: 3%;
  margin-top: 3%;
}

#producte1 {height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte1 img {
  height: 40%;
  width: 40%;}
#Preu\ teclat {color:red}



#producte2 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte2 img {
  height: 40%;
  width: 40%;}
#Preu\ ratoli {color: red}



#producte3 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte3 img {
  height: 40%;
  width: 40%;}
#Preu\ cascos {color: red}



#producte4 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte4 img {
  height: 40%;
  width: 40%;}
#Preu\ ram {color: red}



#producte5 {
  height: 50%;
  width: 19%;
  float: left;
  text-align: center;}
#producte5 img {
  height: 40%;
  width: 40%;}
#Preu\ placa {color: red}

