#grafic1{
  display: inline-block;
  margin-top: 5%;
  margin-left: 100px;
  height: 300px;
  width: 45%;
  margin-bottom: 125px;
}


#grafic2{
  display: inline-block;
  margin-top: 5%;
  margin-left: 20px;
  height: 300px;
  width: 45%;
  margin-bottom: 125px;
}
